.button {
 -fx-background-color:#C4C9CC
}

.quiz-btn:hover {
   -fx-background-color: #298FCA;
}

.review-btn:hover {
   -fx-background-color: #5AAC44;
}

.stats-btn:hover {
   -fx-background-color: #E99E40;
}

.settings-btn:hover {
   -fx-background-color: #CF513D;
}