

.root {
 -fx-background-color: #232323;
}

.label{
    -fx-text-fill: white;
 }
 .input {
 -fx-text-fill: black;
 }

.one-star {
 -fx-background-image: url('0stars.png');
 -fx-background-size:     cover;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center center;
}