
.root {
 -fx-background-color: #232323;
 -fx-font-size: 14pt;
}

.label{
    -fx-text-fill: white;
 }
 .input {
 -fx-text-fill: black;
 }

.stars-0, stars-1, stars-2, stars-3 {
 -fx-background-image: url('0stars.png');
 -fx-background-size:     cover;
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center center;
}
.stars-0 {
    -fx-background-image: url('stars0.png');
}
.stars-1 {
 -fx-background-image: url('stars1.png');
}

.stars-2 {
 -fx-background-image: url('stars2.png');
}

.stars-3 {
 -fx-background-image: url('stars3.png');
}

